
html{
	font-size: 24px;
}
body{
	background: white;
}

.datu{
	margin-top: 0.83rem;
}
.datu img{
	width: 100%;
}
.tuj{
	margin-top: 0.7rem;
	overflow: hidden;
	margin-bottom: 4.18rem;
}
.tuj p{
	font-size: 1.0rem;
}
.tuj1{
	
	overflow: hidden;
}
.tuj1 li{
	width: 33.33%;
	height: 6.92rem;
	float: left;
	text-align: center;
	margin-top: 1.0rem;
	position: relative;
}
#yifu1{
	height: 5.42rem;
	margin-bottom: 0.63rem;
}
#yifu2{
	height: 5.08rem;
	margin-bottom: 0.88rem;
}
#xie1{
	height: 2.71rem;
	margin-top: 2.15rem;
	margin-bottom: 1.0rem;
}
#xie2{
	height: 3.13rem;
	margin-top: 1.76rem;
	margin-bottom: 1.0rem;
}
.tuj1 li a{
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}