html{
	font-size: 24px;
}
body{
	background: #f9f9f9;
}
   /*头部 */
header{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	background: url(../img/bg.jpg);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99;
}
header span{
	font-size: 1.5rem;
	color: white;
}
header a img{
	display: inline-block;
	height: 1.65rem;
	vertical-align: middle;
}
.left{
	height: 1.65rem;
	float: left;
	margin-left: 1.0rem;
}
.right{
	display: block;
	width: 3.0rem;
	height: 3.33rem;
	float: right;
	text-align: center;
	/*margin-right: 1.0rem;*/
}
.tankuang{
	width: 4.79rem;
	height: 6.67rem;
	position: fixed;
	top: 3.25rem;
	right: 0rem;
	z-index: 5;
	background: #f75b42;
	display: none;
}
.tk{
	width: 100%;
}
.tk li{
	width: 100%;
	height: 2.22rem;
	line-height: 2.22rem;
}
.tk li a{
	display: block;
	width: 100%;
	height: 2.22rem;
	color: #ffffff;
}
.tk li i{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tk li span{
	font-size: 0.92rem;
}


.lunbo{
	width: 100%;
	height: 10.17rem;
	margin-top: 3.33rem;
}
.imgs{
	width: 100%;
	position: relative;
}
.imgs img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

nav{
	width: 100%;
	height: 2.92rem;
	background: white;
}
nav ul{
	width: 100%;
	overflow: hidden;
}
nav ul li{
	width: 33.33%;
	height: 2.82rem;
	line-height: 2.82rem;
	float: left;
	text-align: center;
	font-size: 1.0rem;
}
nav ul li a{
	display: block;
	width: 100%;
	height: 2.82rem;
}
nav ul li:nth-child(3) a{
	color: #fe5f4c;
}

.container{
	width: 100%;
	margin-top: 0.53rem;
}
.mian{
	width: 100%;
}

.content1{
	width: 25.62rem;
	margin: 0 auto;
}

.tj-fen{
	width: 100%;
	overflow: hidden;
}
.tj-fen li{
	width: 12.46rem;
	height: 14.17rem;
	background: white;
	float: left;
	margin-bottom: 0.58rem;
	margin-right: 0.58rem;
	border-radius: 0.5rem;
}
.tj-fen li:nth-child(2n){
	margin-right: 0;
}
.tj-fen li .li-1{
	width: 100%;
	height: 8.33rem;
	overflow: hidden;
	border-radius: 0.5rem;
}
.li-1 img{
	width: 100%;
	margin-top: -2.5rem;
}
.tj-fen li .li-2{
	width: 94%;
	height: 3.33rem;
	line-height: 1.6rem;
	margin: 0 auto;
	border-bottom: 0.1rem solid #e4e4e4;
}
.li-2 p{
	font-size: 1.08rem;
}
.li-2 a{
	font-size: 0.92rem;
}
.tj-fen li .li-3{
	width: 100%;
	height: 2.38rem;
	line-height: 2.38rem;
	overflow: hidden;
}
.li-3 p{
	float: left;
	font-size: 1.38rem;
	overflow: hidden;
}
.li-3 span{
	float: left;
	color: #fb8476;
}









