
html{
	font-size: 24px;
}
body{
	background: #F9F9F9;
}
  /*头部 */
header{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	background: url(../img/bg.jpg);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99;
}
header span{
	font-size: 1.5rem;
	color: white;
}
header a img{
	display: inline-block;
	height: 1.65rem;
	vertical-align: middle;
}
.left{
	height: 1.65rem;
	float: left;
	margin-left: 1.0rem;
}
.right{
	display: block;
	width: 3.0rem;
	height: 3.33rem;
	float: right;
	text-align: center;
	/*margin-right: 1.0rem;*/
}
.tankuang{
	width: 4.79rem;
	height: 6.67rem;
	position: fixed;
	top: 3.25rem;
	right: 0rem;
	z-index: 5;
	background: #f75b42;
	display: none;
}
.tk{
	width: 100%;
}
.tk li{
	width: 100%;
	height: 2.22rem;
	line-height: 2.22rem;
}
.tk li a{
	display: block;
	width: 100%;
	height: 2.22rem;
	color: #ffffff;
}
.tk li i{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tk li span{
	font-size: 0.92rem;
}

section{
	width: 100%;
	margin-top: 3.33rem;
}
section ul{
	width: 100%;
	margin-top: 3.96rem;
	overflow: hidden;
}
.tianjia li{
	width: 33%;
	height: 5.72rem;
	float: left;
}
.tianjia li p{
	width: 5.42rem;
	height: 5.42rem;
	margin: 0 auto;
	border: 0.15rem solid #d4d4d4;
}
.tianjia p img{
	display: block;
	width: 2.71rem;
	height: 2.71rem;
	margin: 1.25rem auto;
}
section div{
	width: 90%;
	margin: 0 auto;
	margin-top: 1.67rem;
	font-size: 0.92rem;
}

footer{
	width: 100%;
	height: 4.17rem;
	background: white;
	position: fixed;
	bottom: 0;
}
footer p{
	width: 50%;
	height: 4.17rem;
	line-height: 4.17rem;
	font-size: 1.17rem;
	text-align: center;
	float: left;
}
footer div{
	width: 50%;
	height: 4.17rem;
	line-height: 4.17rem;
	font-size: 1.17rem;
	color: white;
	text-align: center;
	float: right;
	background: #fe6d53;
}





