html{
	font-size: 24px;
}
body{
	background: #f9f9f9;
}


header{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	background: url(../img/bg.jpg);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 2;
}
header span{
	font-size: 1.5rem;
	color: white;
}
header a img{
	display: inline-block;
	height: 1.65rem;
	vertical-align: middle;
}
.left{
	height: 1.65rem;
	float: left;
	margin-left: 1.0rem;
}
.right{
	display: block;
	width: 3.0rem;
	height: 3.33rem;
	float: right;
	text-align: center;
	/*margin-right: 1.0rem;*/
}
.tankuang{
	width: 4.79rem;
	height: 6.67rem;
	position: fixed;
	top: 3.25rem;
	right: 0rem;
	z-index: 5;
	background: #f75b42;
	display: none;
}
.tk{
	width: 100%;
}
.tk li{
	width: 100%;
	height: 2.22rem;
	line-height: 2.22rem;
}
.tk li a{
	display: block;
	width: 100%;
	height: 2.22rem;
	color: #ffffff;
}
.tk li i{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tk li span{
	font-size: 0.92rem;
}

header .sou{
	width: 15.67rem;
	height: 2.17rem;
	float: right;
	margin-right: 3.58rem;
	background: white;
	margin-top: 0.61rem;
	vertical-align: middle;
	line-height: 2.17rem;
	overflow: hidden;
	border-radius: 0.4rem;
}
.sou img{
	width: 1.17rem;
	height: 1.17rem;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	vertical-align: middle;
}

.sou input{
	width: 70%;
	height: 2.0rem;
	float: left;
	margin-left: 0.42rem;
	outline: none;
	font-size: 0.83rem;
}

nav{
	width: 100%;
	position: fixed;
	top: 3.3rem;
}
nav ul{
	width: 100%;
	height: 2.92rem;
	background: white;
	overflow: hidden;
}
nav ul li{
	width: 25%;
	height: 2.92rem;
	line-height: 2.92rem;
	float: left;
	text-align: center;
}
nav ul li a{
	font-size: 1.0rem;
	color: #555;
}

nav ul li:first-child a{
	color: #fe5f4c;
}

.container{
	width: 100%;
	margin-top: 6.25rem;
}
.tj-fen{
	width: 25.62rem;
	overflow: hidden;
	margin: 0 auto;
}
.tj-fen li{
	width: 12.46rem;
	height: 14.17rem;
	background: white;
	float: left;
	margin-bottom: 0.58rem;
	margin-right: 0.58rem;
	border-radius: 0.5rem;
}
.tj-fen li:nth-child(2n){
	margin-right: 0;
}
.tj-fen li .li-1{
	width: 100%;
	height: 8.33rem;
	overflow: hidden;
	border-radius: 0.5rem;
}
.li-1 img{
	width: 100%;
	margin-top: -2.5rem;
}
.tj-fen li .li-2{
	width: 94%;
	height: 3.33rem;
	line-height: 1.6rem;
	margin: 0 auto;
	border-bottom: 0.1rem solid #e4e4e4;
}
.li-2 p{
	font-size: 1.08rem;
}
.li-2 a{
	font-size: 0.92rem;
}
.tj-fen li .li-3{
	width: 100%;
	height: 2.38rem;
	line-height: 2.38rem;
	overflow: hidden;
}
.li-3 a{
	float: right;
	font-size: 1.38rem;
	color: #fb8476;
	margin-right: 1.25rem;
}

footer{
	width: 100%;
	overflow: hidden;
}
footer a{
	display: block;
	width: 49.5%;
	height: 4.17rem;
	line-height: 4.17rem;
	float: left;
	background: white;
	margin-right: 1%;
	text-align: center;
	font-size: 1.17rem;
	color: #555;
}
footer a:last-child{
	margin-right: 0;
}


















