
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 14px/1em tahoma, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: none; }
a:hover,a:focus,a:active{outline: none; }

sup { vertical-align: text-top; } /* 重置, 减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
*{
    font-family: "Microsoft YaHei";
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
mark { background: #ff0; }
input,button{ margin:0; padding:0; list-style:none;border: none;}
mark { background: #ff0; }
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.icon-rentubiao:before { content: "\e6bc"; }



.gwc{
	margin: 42px 250px 0 0;
}
/* 主要内容 */

/* 左半部分 */

/* 个人中心 */

.main{
    padding: 28px 0 140px 0;
    overflow: hidden;
}
.main-l,.main-r{
    float: left;
}
.ucenter{
    width:215px;
    background: #F5F5F5;
}
.ucenter h2{
    height:49px;
    width:100%;
    background: url(../images/ucenter.png) no-repeat  15px 17px #F84C84;
    font-size: 18px;
    color: #fff;
    line-height: 49px;
    text-align: center;
}
.ucenter h2 span{
    font-size: 12px;
}
.ucenter ul{
    background: #f5f5f5;
}
.ucenter ul h3{
	font-size: 16px;
	color: #4E4E4E;
	padding: 0 0 0 34px;
	width:159;
	height:49px;
	line-height: 49px;
	background: url(../images/arrow1.png) no-repeat 11px 16px #E7E7E7;
	cursor: pointer;
}
.ucenter ul li{
    padding: 0 0 0 34px;
    height:40px;
    border-bottom: 1px solid #BDBDBD;
    line-height: 40px;
}
.ucenter ul li>a{
    color: #787878;
}
.sculpture{
	padding: 28px 30px 32px;
}


/* 右半部份 */
.main-r{
    width:744px;
    margin: 0 0 0 18px;
}
/*个人资料 */
.order h2{
    height: 49px;
    color:#fff;
    font-size: 18px;
    padding: 0 0 0 10px;
    line-height: 47px;
    background: #F84C84;
}
.order h2 span{
    font-size: 12px;
}

.orders{
	padding: 11px 9px 30px;
	border: 1px solid #BABABA;
	border-top:0 ;
	overflow: hidden;
}
.ordernumber{
	background: #F0F0F0;
	height:64px;
	width: 731px;
	padding: 15px 0 0 13px;
}
.ordernumber p{
	line-height: 25px;
	color: #313131;
}
.ordernumber p:last-child{
	color: #F74F83;
}



.details{
	background-color: #E7E7E7;
	height: 31px;
	line-height: 31px;
}

.details h3{
	background: url(../images/arrow1.png) no-repeat 12px 7px #E7E7E7;
	padding: 0 0 0 38px;
	color: #888888;
}

/*订单追踪*/
.tracking{
	padding: 17px 0 19px 35px;
}
.tracking p{
	line-height: 25px;
	color: #626262;
	font-size: 12px;
}
.tracking p span{
	display: inline-block;
	width:70px;
	text-align: right;
}


/*商品信息*/
.commodity{
	height:34px;
	background: #F84C84;
	margin: 10px 0 0 0;
	line-height: 34px;
}
.commodity ul li{
	float: left;
	color: #fff;
}
.commodity ul li:nth-child(1){
	width: 285px;
	padding:0 0 0 30px;
}
.commodity ul li:nth-child(2){
	width: 88px;
	padding:0 0 0 36px;
}
.commodity ul li:nth-child(3){
	width: 70px;
	padding:0 0 0 40px;
}
.commodity ul li:nth-child(4){
	width: 50px;
	padding:0 0 0 29px;
}
.commodity ul li:nth-child(5){
	padding:0 0 0 12px;
}


.comm ul{
	border: 2px solid #D8D8D8;
	border-top:none;
	overflow: hidden;
}
.comm ul li{
	float: left;
	border-right: 1px solid #F1F1F1;
	padding: 10px 0 0 0;
	line-height: 95px;
	font-size: 20px;
	color: #424242;
}
.comm ul li:first-child img{
	float: left;
	margin: 0 22px 13px 12px;
}
.comm ul li:first-child{
	width:294px;
	padding: 10px 20px 0 0;
	line-height: 20px;
}
.p-1{
	color: #424242;
	font-size: 14px;
}
.p-2{
	color: #A6A6A6;
	font-size: 12px;
}
.p-3{
	color: #515151;
	font-size: 12px;
}

.comm ul li:nth-child(2){
	width:123px;
	line-height: 95px;
	text-align: center;
}
.comm ul li:nth-child(3){
	width:110px;
	line-height: 95px;
	text-align: center;
	color: #F84C84;
}
.comm ul li:nth-child(4){
	width:78px;
	line-height: 95px;
	text-align: center;
}
.comm ul li:nth-child(5){
	line-height: 95px;
	border: none;
	text-align: center;
	width: 90px;
}

/*总计*/
.total{
	float: right;
	width:112px;
	height: 34px;
	background: #F64D84;
	border: 1px solid #F64D84;
	border-radius: 2px;
	color: #fff;
	margin: 30px 0 0 0;
}











