
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 14px/1em tahoma, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: none; }

sup { vertical-align: text-top; } /* 重置, 减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
*{
	font-family: "Microsoft YaHei";
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
mark { background: #ff0; }
input,button{ margin:0; padding:0; list-style:none;border: none;}
mark { background: #ff0; }
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
    
    
    
    
    
.type{
	width:100%;
	margin:0 auto;
}

/*半透明背景*/
.shadow{
	height:80px;
	width:100%;
	background:rgba(227,238,233,0.7);
}
.inner{
	width:980px;
	margin:0 auto;
} 
/**logo**/
.logo{
	height:67px;
	width:67px;
	margin:7px 0 0 0;
	float:left;
}
.logo h1 a{
	display:block;
	width:67px;
	height:67px;
	background: url(../images/logo.png);

}
	


.dpxqban{
	height:133px;
	background:url(../images/dpxq-banner.jpg);
}
/*面包屑*/
.crumbs{
	height:50px;
	line-height: 50px;
}
.crumbs a span{
	color: #b7b7b7;
}
.crumbs span{
	color: #6a6a6a;
	margin: 0 0 0 5px;
}

/*内容*/
.main{
	width:978px;
	height:236px;
	border: 1px solid #FFACC8;
	margin-bottom:22px;
	position: relative;
}

.main .arrow{
	height: 40px;
	width: 40px;
	background: url(../images/arrow2.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}
/*技师详情*/
.artificer{
	padding: 14px 0 14px 14px;
}

.ar-r,.ar-l{
	float: left;
}
.ar-l{
	margin: 0 25px 0 0;
	position: relative;
}

.collect a{
	display: block;
	width:100%;
	height:27px;
	background: #F84C84;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	line-height: 27px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.ar-r-pone{
	margin: 44px 0 0 0;
}
.ar-r-pone span{
	margin: 0 15px 0 0;
}
.ar-r-pone span:nth-child(2){
	margin: 0 5px 0 0;
}
.ar-r-pone span:nth-child(3){
	color: #7C7C7C;
	font-size: 14px;
}
.ar-r-pone span:last-child{
	color: #6c6c6c;
	font-size: 16px;
}

.ar-r-pone a{
	font-size: 24px;
	color: #424242;
}


.ar-r p:nth-child(2){
	color: #a1a1a1;
	margin: 15px 0 20px 0;
}


.ar-r p:nth-child(3) a{
	color: #f6b841;
	font-size: 24px;
}
.ar-r p:nth-child(3) a:first-child{
	color: #D4D4D4;
	font-size: 22px;
}

.ar-r p:last-child{
	color: #a4a4a4;
	margin: 45px 0 0 0;
}
.ar-r p:last-child span i{
	font-style: normal;
	font-size: 12px;
	color: #f6b841;
}
.ar-r p:last-child span:last-child{
	color: #505050;
	margin: 0 0 0 85px;
}
.ar-r p:last-child span:last-child i{
	color:#F84C84;
	font-size: 24px;
}



/*标题*/
.service h2,.product h2,.entry h2{
	border-bottom: 2px solid #F84C84;
	font-size: 18px;
	color: #F84C84;
	padding: 0 0 20px 0;
}
.service h2 i,.product h2 i,.entry h2 i{
	font-size: 12px;
}

/*在线预约*/
.service{
	padding: 0 0 22px 0;
}
.service ul{
	overflow: hidden;
}
.service ul li{
	float: left;
}
.service ul{
	border-bottom: 1px solid  #f0f0f0;
}
.service ul.time{
	line-height: 70px;
	color: #6e6e6e;
	font-size: 18px;
}
.service ul.time li{
	margin: 0 0 0 55px;
}
.service ul.time li:first-child{
	margin: 0;
}
.service ul.time a{
	color: #6e6e6e;
	font-size: 18px;
	display: inline-block;
	width:116px;
	height:27px;
	line-height: 31px;
	text-align: center;	
}
.service ul.time a.current{
	background: #F84C84;
	border: 4px solid #F84C84;
	border-radius: 6px;
	color: #fff;
}
.service .d9{
	border-color: #d9d9d9;
}

/*立即预约*/
.service ul.bespeak{
	padding: 17px 0 15px 10px;
}
.service ul.bespeak li{
	line-height: 74px;
}
.service ul.bespeak li a{
	font-size: 18px;
	color: #585858;
	font-weight: 500;
}
.service ul.bespeak li:first-child{
	line-height: normal;
	margin: 0 20px 0 0 ;
}
.service ul.bespeak li:nth-child(2){
	margin: 0 85px 0 0;
}
.service ul.bespeak li:nth-child(3){
	margin: 0 ;
}
.service ul.bespeak li:nth-child(4){
	margin: 0 185px;
	color: #585858;
	font-size: 18px;
}
.service ul.bespeak li:last-child button{
	background: #F84C84;
	width:110px;
	height: 30px;
	font-size: 18px;
	color: #fff;
	border: 4px solid #F84C84;
	border-radius: 4px;
}


/* 查看更多 */
.seemore1{
	height:49px;
	background: #F4F4F4;
	margin: 0 auto;
	width: 980px;
	cursor: pointer;
	text-align: center;
	line-height: 49px;
	color: #3F3F3F;
	margin-bottom: 25px;
}

/*个人作品*/
.product{
	padding: 0 0 16px 0;
}
.product ul{
	overflow: hidden;
	padding: 25px 0 0 0;
}
.product ul li{
	float: left;
	margin: 0 13px 14px 0;
	position: relative;
}
.product ul li.mag0{
	margin: 0;
}
.product ul li div{
	position: absolute;
	left: 0;
	bottom: 0;
	height:54px;
	width: 303px;
	background: rgba(225,225,225,0.3);
	line-height: 54px;
	padding: 0 0 0 15px;
}
.product ul li div a{
	font-size: 24px;
	color: #882f2f;
}
.product ul li div a span{
	font-size: 14px;
}
/*消费评价*/
.assess{
	height:292px;
	background: #F9F9F9;
	width:945px;
	padding: 0 17px 0 18px;
	margin: 50px 0 0 0;

}

.assess h2{
	color: #8c8c8c;
	padding: 22px 0 17px 0;
	border-bottom: 1px solid #ccc;
}
.oneass{
	overflow: hidden;
	border-bottom: 1px solid #EAEAEA;
}
.oneass img{
	float: left;
	margin: 13px 0 0 3px;
}
.ass{
	float: left;
}
.ass p{
	margin: 21px 0 0 8px;
	font-size: 16px;
	color: #3F3F3F;
}
.ass p:last-child{
	margin:26px 0 39px 8px;
	color: #8c8c8c;
	font-size: 14px;
}
.ass p span:last-child{
	font-size: 14px;
}
.lastass{
	border: none;
}

/* 查看更多 */
.seemore{
	height:49px;
	background: #F4F4F4;
	margin: 0 auto;
	width: 980px;
	cursor: pointer;
	text-align: center;
	line-height: 49px;
	color: #3F3F3F;
}
/* 最近浏览 */
.f0{
	background: #f0f0f0;
	height:3px;
}
.pink{
	background: #F64D84;
	height: 3px;
	width: 196px;
	margin: -3px 0 0 0;
}

.review .pink{
	margin: -3px auto 0;
}
.review{
	margin: 63px auto 0;
	overflow: hidden;
}
.review h2{
	color: #525252;
	font-size: 16px;
	text-align: center;
	margin: 18px 0 38px 0;
}
.rev{
	float: left;
	margin: 0 15px 0 0;
	height:455px;
}
.rev-main{
	padding: 22px 0 0 7px;
}
.rev-main h3 a{
	font-size: 16px;
	color: #424242;
}
.rev-main p{
	margin: 12px 0 17px 0;
}
.rev-main p>a{
	color: #a6a6a6;
}
.rev-main span{
	font-size: 24px;
	color: #f74d84;
}
.rev-main s{
	font-size: 18px;
	color: #c2c2c2;
	margin: 0 0 0 28px;
}


