html{
	font-size: 24px;
}
body{
	background: #f9f9f9;
}
   /*头部 */
header{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	background: url(../img/bg.jpg);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99;
}
header span{
	font-size: 1.5rem;
	color: white;
}
header a img{
	display: inline-block;
	height: 1.65rem;
	vertical-align: middle;
}
.left{
	height: 1.65rem;
	float: left;
	margin-left: 1.0rem;
}
.right{
	display: block;
	width: 3.0rem;
	height: 3.33rem;
	float: right;
	text-align: center;
	/*margin-right: 1.0rem;*/
}
.tankuang{
	width: 4.79rem;
	height: 6.67rem;
	position: fixed;
	top: 3.25rem;
	right: 0rem;
	z-index: 5;
	background: #f75b42;
	display: none;
}
.tk{
	width: 100%;
}
.tk li{
	width: 100%;
	height: 2.22rem;
	line-height: 2.22rem;
}
.tk li a{
	display: block;
	width: 100%;
	height: 2.22rem;
	color: #ffffff;
}
.tk li i{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tk li span{
	font-size: 0.92rem;
}


section{
	width: 100%;
	margin-top: 3.33rem;
	margin-bottom: 2.5rem;
}
.xinxi{
	width: 100%;
}
.xinxi li{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	background: white;
	margin-bottom: 0.15rem;
}
.xinxi li span:first-child{
	margin-left: 1.33rem;
	font-size: 1.0rem;
}
.xinxi li input{
	font-size: 0.83rem;
	margin-left: 1.5rem;
	outline: none;
	border: 0;
}
.xinxi li:nth-child(3){
	overflow: hidden;
}
.xinxi li:nth-child(3) span{
	display: inline-block;
	float: left;
	font-size: 1.0rem;
}
.xinxi li:nth-child(3) input{
	margin-top: 1.1rem;
	width: 4.17rem;
	float: left;
}

button{
	width: 70%;
	height: 3.13rem;
	display: block;
	background: #fe614f;
	border-radius: 0.3rem;
	margin: 0 auto;
	font-size: 1.17rem;
	color: white;
}





