*{margin: 0;padding: 0;}
html,body{font-family: "microsoft yahei";}
ul,ol{list-style: none;}
a{text-decoration: none;}
/*↑↑↑以上是公共类*/
.header{
	margin: auto;
	width: 640px;
	height: 154px;
	background: #e9e9e9;
}
.header-icon{
	overflow: hidden;
	background: #0259c3;
	color: #FFFFFF;
}
.header-icon img{
	float: left;
	margin: 20px 0 20px 16px;
}
.header-icon .line{
	float: left;
	margin: 28px 13px 0;
	width: 2px;
	height: 37px;
	background: #95b9e6;
}
.header-icon .tell{
	float: left;
	padding: 22px 0 0;
	color: #FFFFFF;
}
.header-icon .tellT{
	font-size: 18px;
}
.header-icon .tellF{
	font-size: 14px;
}
.header-nav{
	width: 640px;
	height: 65px;
	line-height: 65px;
	overflow: hidden;
}
.header-nav a{
	position: relative;
	width: 83px;
    height: 60px;
    font-family: "微软雅黑";
    font-size: 28px;
    float: left;
    margin-left: 21px;
    text-align: center;
    line-height: 60px;
    color: black;
}
.header-nav .line{
	border-bottom: 5px solid #0054d1;
	color: #0054d1; 
}
/*↑↑↑以上是公共头部样式*/

/*↓↓↓以下是电话咨询和返回顶部样式*/
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 640px;
	height: 80px;
	background: #2a2a2a;
}
.footer .foot-l{
	float: left;
	height: 100%;
	overflow: hidden;
}
.footer .foot-m{
	float: left;
	width: 9px;
	height: 76px;
	background: url(../img/foot-line.jpg) repeat-y;
}
.footer .foot-r{
	float: right;
	height: 100%;
	overflow: hidden;
}
.footer .foot-l a,
.footer .foot-r a{
	float: left;
	width: 315px;
	height: 100%;
}
.footer .foot-l a{
	background: url(../img/zx.png) no-repeat 60px -170px;
}
.footer .foot-r a{
	background: url(../img/zx.png) no-repeat 35px 6px;
}
.footer .foot-l a:active{
	background: url(../img/zx.png) no-repeat 60px -255px;
}
.footer .foot-r a:active{
	background: url(../img/zx.png) no-repeat 35px -80px;
}

.up{
	position: fixed;
	bottom: 120px;
	right: 14px;
	width: 46px;
	height: 46px;
	background: url(../img/bk-hdduan.png) no-repeat;
}
.top{
	display: inline-block;
	width: 100%;
	/*height: 150px;*/

}
.top_1{
  font-size: 20.47px;
  margin-left: 30px;
  margin-top: 40px;
  color: black;

}
.top_2{
	font-size: 14px;
	margin-left: 30px;
	color: #686868;
	margin-top: 14px;
}
.picture{
	width: 574px;
	height: 346px;
	margin: auto;
	margin-top: 10px;
}
.top_ending p{
	font-size: 14px;
	margin-left: 30px;
	margin-top: 10px;
	color: #7f7f7f;
}
.middle{
	width: 100%;
}
.middle p{
	font-size: 20.47px;
	margin-left: 30px;
	margin-top: 35px;

}
.di{
	width: 100%;
	height: 210px;
	/*border: 1px solid;*/
}
.middle li{
	font-size: 14px;
	margin: 18px 30px;
	color: #666666;

}







