/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}
/* 去除iPhone中默认的input样式  清除苹果浏览器的圆角表单*/
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section,span{margin:0; padding:0; border:none;}
body{font-family: Microsoft YaHei,Tahoma,Arial,sans-serif; color:#555; background-color:#f9f9f9;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{ text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-family: Microsoft YaHei;}
img{border: none;}
.scope{min-width:320px; max-width:540px;}
/* 当浏览器的可视区域小于980px */
@media screen and (max-width:980px) {
	#wrap {width: 90%; margin:0 auto;}
	#content {width: 60%;padding:5%;}
	#sidebar {width: 30%;}
	#footer {padding: 8% 5%;margin-bottom: 10px;}
}
/* 当浏览器的可视区域小于650px */
@media screen and (max-width: 650px) {
	#header {height: auto;}
	#searchform {position: absolute;top: 5px;right: 0;}
	#content {width: auto; float: none; margin: 20px 0;}
	#sidebar {width: 100%; float: none; margin: 0;}
}

/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: none;
}
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 设置图片视频等自适应调整 */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
.video embed, .video object, .video iframe {
	width: 100%;
	height: auto;
}
html{font-size: 62.5%;}
button,input{outline: none;}




/*头部*/

header{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	background: url(../img/bg.jpg);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99;
}
header span{
	font-size: 1.5rem;
	color: white;
}
header a img{
	display: inline-block;
	height: 1.65rem;
	vertical-align: middle;
}

.right{
	display: block;
	width: 3.0rem;
	height: 3.33rem;
	float: right;
	text-align: center;
	/*margin-right: 1.0rem;*/
}
.tankuang{
	width: 4.79rem;
	height: 6.67rem;
	position: fixed;
	top: 3.25rem;
	right: 0rem;
	z-index: 5;
	background: #f75b42;
	display: none;
}
.tk{
	width: 100%;
}
.tk li{
	width: 100%;
	height: 2.22rem;
	line-height: 2.22rem;
}
.tk li a{
	display: block;
	width: 100%;
	height: 2.22rem;
	color: #ffffff;
}
.tk li i{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tk li span{
	font-size: 0.92rem;
}
/*姓名*/
.name{
	background: url(../img/bg01.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	padding: 1.8rem 0;
	margin-top: 3.33rem;
}
.name p span{
	font-size: 1.5rem;
	padding: 0 1rem 0 0;
}
.name p img{
	margin-top: 1%;
}
.name span{
	font-size: 1.2rem;
}

/*导航*/

.nav ul{
	overflow: hidden;
	background:  #fff;
}
.nav ul a{
	float: left;
	font-size: 1.2rem;
	color: #424242;
	width: 33%;
	text-align: center;
	margin: 0.5rem 0;
	padding-top: 2.8rem;
	border-right: 1px solid #e4e4e4;
	background: url(../img/nav01.png) no-repeat top center;
	background-size: 35%;
}
.nav ul a:nth-child(2){
	background: url(../img/nav02.png) no-repeat top center;
	background-size: 30%;
}
.nav ul a:nth-child(3){
	background: url(../img/nav03.png) no-repeat top center;
	background-size: 20%;
}

/*内容*/
.main{
	width: 100%;
	margin-bottom: 4.18rem;
}
.main ul{
	background: #fff;
	margin-top: 1rem;
}
.main ul:last-child{
	margin-bottom: 8rem;
}
.main ul li{
	font-size: 1.2rem;
	padding: 1.6rem 0;
	margin: 0 1.5rem;
	border-bottom: 1px solid #e3e3e3;
	background: url(../img/arrow.png) no-repeat right center;
}
.main ul li a{
	color: #424242;
	width: 100%;
	height: auto;
}
.main ul li:last-child{
	border: none;
}

/*导航栏*/
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4.18rem;
	background: #f5f5f5;
}
.fenlei{
	background: #fe6e50;
}
.fenlei span{
	color: white;
}
footer li{
	float: left;
	width: 25%;
	height: 4.08rem;
	text-align: center;
}
footer li a{
	display: block;
	width: 100%;
	height: 4.08rem;
}
footer li img{
	width: 1.88rem;
	height: 1.88rem;
	margin-top: 0.67rem;
}
footer li span{
	display: block;
	font-size: 0.92rem;
	color: #bbbcc1;
}


/*蒙泰图*/
.xiugai_back{
	width:100%;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	z-index: 10;
	background:rgba(0,0,0,.5);
	display: none;
}
.xiugai_main{
	position: fixed;
	top:28%;
	left: 32%;
	z-index:11;
	display: none;
}
.xiugai_main button{
	display:block;
	background: #fff;
	width: 13rem;
	padding: 1.2rem 0;
	font-size: 1.6rem;
	border-bottom: 1px solid #d8d8d8;
}
.xiugai_main button:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.xiugai_main button:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: none;
}
.xiugai_main button.current{
	background: #303030;
}
.xiugai_main button.current a{
	color: #fff;
}





































