/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}
/* 去除iPhone中默认的input样式  清除苹果浏览器的圆角表单*/
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section,span{margin:0; padding:0; border:none;}
body{font-family: Microsoft YaHei,Tahoma,Arial,sans-serif; color:#555; background-color:#f9f9f9;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{ text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-family: Microsoft YaHei;}
img{border: none;}
.scope{min-width:320px; max-width:540px;}
/* 当浏览器的可视区域小于980px */
@media screen and (max-width:980px) {
	#wrap {width: 90%; margin:0 auto;}
	#content {width: 60%;padding:5%;}
	#sidebar {width: 30%;}
	#footer {padding: 8% 5%;margin-bottom: 10px;}
}
/* 当浏览器的可视区域小于650px */
@media screen and (max-width: 650px) {
	#header {height: auto;}
	#searchform {position: absolute;top: 5px;right: 0;}
	#content {width: auto; float: none; margin: 20px 0;}
	#sidebar {width: 100%; float: none; margin: 0;}
}

/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: none;
}
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 设置图片视频等自适应调整 */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
.video embed, .video object, .video iframe {
	width: 100%;
	height: auto;
}
html{font-size: 62.5%;}
button{outline: none;}

/*头部*/
/*header{
	font-size: 2.4rem;
	background: url(../img/header.jpg);
	padding: 1rem  2rem 1rem 1.6rem;
	color: #fff;
	text-align: center;
}
header a:first-child img{
	float: left;
	height: 2.4rem;
	margin-top: 1%;
}
header a:last-child img{
	float: right;
	height: 2.4rem;
	margin-top: 1%;
}*/

   /*头部 */
header{
	width: 100%;
	height: 3.33rem;
	line-height: 3.33rem;
	text-align: center;
	background: url(../img/bg.jpg);
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 5;
	
}
header span{
	font-size: 1.5rem;
	color: white;
}
header a img{
	display: inline-block;
	height: 1.65rem;
	vertical-align: middle;
}
.left{
	height: 1.65rem;
	float: left;
	margin-left: 1.0rem;
}
.right{
	display: block;
	width: 3.0rem;
	height: 3.33rem;
	float: right;
	text-align: center;
	/*margin-right: 1.0rem;*/
}
.tankuang{
	width: 4.79rem;
	height: 6.67rem;
	position: fixed;
	top: 3.25rem;
	right: 0rem;
	z-index: 5;
	background: #f75b42;
	display: none;
}
.tk{
	width: 100%;
}
.tk li{
	width: 100%;
	height: 2.22rem;
	line-height: 2.22rem;
}
.tk li a{
	display: block;
	width: 100%;
	height: 2.22rem;
	color: #ffffff;
}
.tk li i{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1.2rem;
}
.tk li span{
	font-size: 0.92rem;
}

.lunbo{
	width: 100%;
	height: 10.17rem;
	margin-top: 3.25rem;
}
.imgs{
	width: 100%;
	position: relative;
}
.imgs img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.banner{
	margin-top: 3.33rem;
}

/*内容*/
.main{
	color: #414141;

}
/*介绍*/
.introduce{
	margin: 0 1.2rem;
}
.introduce h2{
	font-weight: normal;
	font-size: 1.6rem;
	margin: 1rem 0;
}
.introduce p{
	color: #9c9c9c;
	font-size: 1.2rem;
}

/*购买*/

.buy{
	margin-top: 0.5rem;
	margin: 0 1.2rem;
}
.buy ul li{
	border-bottom: 1px solid #e3e3e3;
	padding: 0.8rem 0;
}

/*1*/
.buy ul li:nth-child(1) span:nth-child(1){
	font-size: 2rem;
	color: red;
	width: 70%;
	display: inline-block;
}
.buy ul li:nth-child(1) span:nth-child(1) em{
	font-size: 2.8rem;
}
.buy ul li:nth-child(1) span:nth-child(2){
	font-size: 1.6rem;
	color: #5e5e5e;
}

/*2*/
.buy ul li:nth-child(2) span{
	font-size: 1.6em;
	color: #5e5e5e;
}
.buy ul li:nth-child(2) a{
	display: inline-block;
	font-size: 1.8rem;
	background: #f3f2f2;
	width: 8%;
	text-align: center;
	margin: 0 0.5rem;
	border-radius: 5px;
}
.buy ul li:nth-child(2) a.current{
	background: #fe7d5c;
	color: #fff;
}

/*3*/
.buy ul li:nth-child(3) span{
	font-size: 1.6rem;
	color: #5e5e5e;
}
.buy ul li:nth-child(3) a{
	display: inline-block;
	width: 8%;
	padding: 1.2rem 0;
	margin: 0 0.5rem;
	border-radius: 5px;
	vertical-align: middle;
	margin-top: -0.7rem;
}
.buy ul li:nth-child(3) a:nth-child(2){
	background: #d5cfa1;
}
.buy ul li:nth-child(3) a:nth-child(3){
	background: #242c36;
}
.buy ul li:nth-child(3) a:nth-child(4){
	background: #587335;
}

/*4*/

.buy ul li:nth-child(4) span{
	font-size: 1.6rem;
	color: #5e5e5e;
}
.buy ul li:nth-child(4) button{
	font-size: 1.3rem;
	color: #fff;
	background: #fe7d5c;
	float: right;
	padding: 0.5rem;
	border-radius: 5px;
	margin-top: -0.3rem;
}


/*商品信息*/

.message{
	margin: 0 1.2rem;
}
.message ul{
	width: 70%;
	border: 1px solid #fa5746;
	border-radius: 5px;
	overflow: hidden;
	margin: 1rem auto;
}
.message ul li{
	float: left;
	width: 50%;
	text-align: center;
	font-size: 1.8rem;
	padding: 0.5rem 0;
	display: inline-block;
	color: #5e5e5e;
}
.message ul li.current{
	background: #fa5746;
	color: #fff;
}




/*信息*/



/*尺码信息*/

.content_info .size_info,.content_info .details{
	text-align: center;
	margin: 0 1.2rem;
}
.content_info .size_info h2,.content_info .details h2{
	font-size: 1.8rem;
	font-weight: normal;
	color: #454444;
	border-bottom: 1px solid #e3e3e3;
	padding: 0.5rem 0;
}

.content_info .size_info table{
	width: 70%;
	margin: 0 auto;
	text-align:center;
	border-collapse:collapse;
	border-spacing:1;
	border-spacing:0; 
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.content_info .size_info table tr th{
	font-size: 1.6rem;
	font-weight: normal;
	background: #f4f4f4;
	width: 33.33%;
	padding: 0.5rem 0;
	color: #919091;
}
.content_info .size_info table tr td{
	font-size: 1.6rem;
	font-weight: normal;
	width: 33.33%;
	padding: 0.5rem 0;
	color: #515151;
	border-bottom: 1px solid #e3e3e3;
}
.content_info .size_info table tr:last-child td{
	border-bottom: none;
}
.content_info .size_info p{
	font-size: 1.2rem;
	color: #515151;
}

.content_info .size_info img{
	width: 90%;
	margin: 1.5rem 0;
}

/*商品详情*/
.content_info .details div{
	margin: 1rem 0;
}
.content_info .details div p{
	font-size: 1.2rem;
	color: #919090;
}
.content_info .details img{
	width: 75%;
	margin-bottom: 1rem;
}



/*评价*/

.content_assess{
	background: #fff;
	padding: 0 1.2rem;
	display: none;
}
.content_assess ul li{
	border-bottom: 1px solid #e1e1e1;
	padding: 1rem 0;
}
.content_assess ul li div img{
	width: 4%;
	margin: 0 0.2rem;
	float: left;
}
.content_assess ul li div{
	overflow: hidden;
}
.content_assess ul li div p{
	float: right;
}
.content_assess ul li div p span{
	font-size: 1.2rem;
	color: #4a4a4a;
}
.content_assess ul li div p span:last-child{
	color: #6f6f6f;
}
.content_assess ul li p:nth-child(2){
	font-size: 1.4rem;
	color: #4a4a4a;
	margin-top: 1rem;
}

/*晒图*/
.content_assess ul li.photo .yy{
	width: 30%;
	margin: 1rem 1rem 1rem 0;
}


.content_assess ul li:nth-child(1){
	padding: 0.5rem 0;
	background: url(../img/index-img/arrow.png) no-repeat right center;
}
.content_assess ul li:nth-child(1) p:first-child{
	font-size: 1.6rem;
	color: #444444;
}
.content_assess ul li:nth-child(1) p:nth-child(2){
	font-size: 1.4rem;
	color: #fa5746;
	margin-top: 0.5rem;
}
.content_assess ul li:nth-child(1) p:nth-child(2) span{
	font-size: 1.4rem;
	color: #7d7d7d;
	margin-left: 3rem;
}


/*底部*/


.footer ul li{
	float: left;
	background: #323232;
	text-align: center;
	height: 6rem;
	width: 18%;
}
.footer ul li:last-child{
	width: 28%;
	background: #f9684c;
	line-height: 6rem;
}
.footer ul li a{
	color: #fff;
	font-size: 1.2rem;
}
.footer ul li a img{
	margin-top: 1rem;
}

.footer ul li:last-child a{
	font-size: 1.6rem;
}










